  -- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
  --
  -- Host: localhost    Database: admission_portal
  -- ------------------------------------------------------
  -- Server version	8.0.45

  /*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
  /*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
  /*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
  /*!50503 SET NAMES utf8mb4 */;
  /*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
  /*!40103 SET TIME_ZONE='+00:00' */;
  /*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
  /*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
  /*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
  /*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

  --
  -- Table structure for table `admission_letters`
  --

  DROP TABLE IF EXISTS `admission_letters`;
  /*!40101 SET @saved_cs_client     = @@character_set_client */;
  /*!50503 SET character_set_client = utf8mb4 */;
  CREATE TABLE `admission_letters` (
    `id` int NOT NULL AUTO_INCREMENT,
    `applicant_id` int NOT NULL,
    `letter_template_id` int NOT NULL,
    `recipient_email` varchar(255) DEFAULT NULL,
    `recipient_name` varchar(255) DEFAULT NULL,
    `program` varchar(100) DEFAULT NULL,
    `admission_date` date DEFAULT NULL,
    `letter_content` longtext,
    `status` enum('generated','sent','viewed') DEFAULT 'generated',
    `sent_at` timestamp NULL DEFAULT NULL,
    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (`id`),
    KEY `idx_admission_letters_applicant` (`applicant_id`),
    KEY `idx_admission_letters_status` (`status`),
    CONSTRAINT `admission_letters_ibfk_1` FOREIGN KEY (`applicant_id`) REFERENCES `applicants` (`id`) ON DELETE CASCADE
  ) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
  /*!40101 SET character_set_client = @saved_cs_client */;

  --
  -- Dumping data for table `admission_letters`
  --

  LOCK TABLES `admission_letters` WRITE;
  /*!40000 ALTER TABLE `admission_letters` DISABLE KEYS */;
  /*!40000 ALTER TABLE `admission_letters` ENABLE KEYS */;
  UNLOCK TABLES;

  --
  -- Table structure for table `applicants`
  --

  DROP TABLE IF EXISTS `applicants`;
  /*!40101 SET @saved_cs_client     = @@character_set_client */;
  /*!50503 SET character_set_client = utf8mb4 */;
  CREATE TABLE `applicants` (
    `id` int NOT NULL AUTO_INCREMENT,
    `user_id` int NOT NULL,
    `program_id` int NOT NULL,
    `application_status` enum('pending','submitted','under_review','accepted','rejected','recommended') NOT NULL DEFAULT 'pending',
    `recommended_program_id` int DEFAULT NULL,
    `admission_status` enum('not_admitted','admitted','admission_revoked') NOT NULL DEFAULT 'not_admitted',
    `has_paid_acceptance_fee` tinyint(1) DEFAULT '0',
    `has_paid_tuition` tinyint(1) DEFAULT '0',
    `submitted_at` timestamp NULL DEFAULT NULL,
    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    PRIMARY KEY (`id`),
    UNIQUE KEY `user_id` (`user_id`),
    KEY `program_id` (`program_id`),
    KEY `recommended_program_id` (`recommended_program_id`),
    KEY `idx_applicants_user_id` (`user_id`),
    KEY `idx_applicants_status` (`application_status`),
    CONSTRAINT `applicants_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
    CONSTRAINT `applicants_ibfk_2` FOREIGN KEY (`program_id`) REFERENCES `programs` (`id`),
    CONSTRAINT `applicants_ibfk_3` FOREIGN KEY (`recommended_program_id`) REFERENCES `programs` (`id`)
  ) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
  /*!40101 SET character_set_client = @saved_cs_client */;

  --
  -- Dumping data for table `applicants`
  --

  LOCK TABLES `applicants` WRITE;
  /*!40000 ALTER TABLE `applicants` DISABLE KEYS */;
  /*!40000 ALTER TABLE `applicants` ENABLE KEYS */;
  UNLOCK TABLES;

  --
  -- Table structure for table `application_forms`
  --

  DROP TABLE IF EXISTS `application_forms`;
  /*!40101 SET @saved_cs_client     = @@character_set_client */;
  /*!50503 SET character_set_client = utf8mb4 */;
  CREATE TABLE `application_forms` (
    `id` int NOT NULL AUTO_INCREMENT,
    `applicant_id` int NOT NULL,
    `program_id` int NOT NULL,
    `full_name` varchar(255) DEFAULT NULL,
    `date_of_birth` date DEFAULT NULL,
    `nationality` varchar(100) DEFAULT NULL,
    `address` text,
    `qualification_type` varchar(100) DEFAULT NULL,
    `qualification_institution` varchar(255) DEFAULT NULL,
    `qualification_year` int DEFAULT NULL,
    `work_experience` text,
    `additional_info` text,
    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    PRIMARY KEY (`id`),
    UNIQUE KEY `applicant_id` (`applicant_id`),
    KEY `program_id` (`program_id`),
    KEY `idx_application_forms_applicant` (`applicant_id`),
    CONSTRAINT `application_forms_ibfk_1` FOREIGN KEY (`applicant_id`) REFERENCES `applicants` (`id`) ON DELETE CASCADE,
    CONSTRAINT `application_forms_ibfk_2` FOREIGN KEY (`program_id`) REFERENCES `programs` (`id`)
  ) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
  /*!40101 SET character_set_client = @saved_cs_client */;

  --
  -- Dumping data for table `application_forms`
  --

  LOCK TABLES `application_forms` WRITE;
  /*!40000 ALTER TABLE `application_forms` DISABLE KEYS */;
  /*!40000 ALTER TABLE `application_forms` ENABLE KEYS */;
  UNLOCK TABLES;

  --
  -- Table structure for table `application_reviews`
  --

  DROP TABLE IF EXISTS `application_reviews`;
  /*!40101 SET @saved_cs_client     = @@character_set_client */;
  /*!50503 SET character_set_client = utf8mb4 */;
  CREATE TABLE `application_reviews` (
    `id` int NOT NULL AUTO_INCREMENT,
    `applicant_id` int NOT NULL,
    `reviewed_by` int NOT NULL,
    `review_notes` text,
    `recommendation` enum('accept','reject','recommend_other_program') DEFAULT 'accept',
    `recommended_program_id` int DEFAULT NULL,
    `reviewed_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (`id`),
    KEY `applicant_id` (`applicant_id`),
    KEY `reviewed_by` (`reviewed_by`),
    KEY `recommended_program_id` (`recommended_program_id`),
    CONSTRAINT `application_reviews_ibfk_1` FOREIGN KEY (`applicant_id`) REFERENCES `applicants` (`id`) ON DELETE CASCADE,
    CONSTRAINT `application_reviews_ibfk_2` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`),
    CONSTRAINT `application_reviews_ibfk_3` FOREIGN KEY (`recommended_program_id`) REFERENCES `programs` (`id`)
  ) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
  /*!40101 SET character_set_client = @saved_cs_client */;

  --
  -- Dumping data for table `application_reviews`
  --

  LOCK TABLES `application_reviews` WRITE;
  /*!40000 ALTER TABLE `application_reviews` DISABLE KEYS */;
  INSERT INTO `application_reviews` VALUES (1,1,1,'congrats','accept',NULL,'2026-02-08 15:34:06'),(2,4,1,'congrats','accept',NULL,'2026-02-08 16:57:25'),(3,11,1,'','accept',NULL,'2026-02-13 13:07:00');
  /*!40000 ALTER TABLE `application_reviews` ENABLE KEYS */;
  UNLOCK TABLES;

  --
  -- Table structure for table `documents`
  --

  DROP TABLE IF EXISTS `documents`;
  /*!40101 SET @saved_cs_client     = @@character_set_client */;
  /*!50503 SET character_set_client = utf8mb4 */;
  CREATE TABLE `documents` (
    `id` int NOT NULL AUTO_INCREMENT,
    `application_form_id` int NOT NULL,
    `document_type` varchar(100) NOT NULL,
    `original_filename` varchar(255) NOT NULL,
    `stored_filename` varchar(255) NOT NULL,
    `file_path` varchar(500) NOT NULL,
    `file_size` int NOT NULL,
    `compressed_size` int DEFAULT NULL,
    `mime_type` varchar(100) DEFAULT NULL,
    `is_compressed` tinyint(1) DEFAULT '0',
    `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (`id`),
    KEY `application_form_id` (`application_form_id`),
    CONSTRAINT `documents_ibfk_1` FOREIGN KEY (`application_form_id`) REFERENCES `application_forms` (`id`) ON DELETE CASCADE
  ) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
  /*!40101 SET character_set_client = @saved_cs_client */;

  --
  -- Dumping data for table `documents`
  --

  LOCK TABLES `documents` WRITE;
  /*!40000 ALTER TABLE `documents` DISABLE KEYS */;
  /*!40000 ALTER TABLE `documents` ENABLE KEYS */;
  UNLOCK TABLES;

  --
  -- Table structure for table `faculties`
  --

  DROP TABLE IF EXISTS `faculties`;
  /*!40101 SET @saved_cs_client     = @@character_set_client */;
  /*!50503 SET character_set_client = utf8mb4 */;
  CREATE TABLE `faculties` (
    `faculty_id` int NOT NULL AUTO_INCREMENT,
    `faculty_name` varchar(150) NOT NULL,
    `faculty_code` varchar(10) NOT NULL,
    PRIMARY KEY (`faculty_id`),
    UNIQUE KEY `faculty_code` (`faculty_code`)
  ) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
  /*!40101 SET character_set_client = @saved_cs_client */;

  --
  -- Dumping data for table `faculties`
  --

  LOCK TABLES `faculties` WRITE;
  /*!40000 ALTER TABLE `faculties` DISABLE KEYS */;
  INSERT INTO `faculties` VALUES (1,'Faculty of Pure and Applied Sciences','FPAS'),(2,'Faculty of Social and Management Sciences','FSMS');
  /*!40000 ALTER TABLE `faculties` ENABLE KEYS */;
  UNLOCK TABLES;

  --
  -- Table structure for table `letter_templates`
  --

  DROP TABLE IF EXISTS `letter_templates`;
  /*!40101 SET @saved_cs_client     = @@character_set_client */;
  /*!50503 SET character_set_client = utf8mb4 */;
  CREATE TABLE `letter_templates` (
    `id` int NOT NULL AUTO_INCREMENT,
    `name` varchar(100) NOT NULL,
    `program_id` int DEFAULT NULL,
    `subject` varchar(255) DEFAULT NULL,
    `header_text` text,
    `body_html` longtext,
    `footer_text` text,
    `created_by` int DEFAULT NULL,
    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    PRIMARY KEY (`id`),
    UNIQUE KEY `name` (`name`),
    KEY `created_by` (`created_by`),
    KEY `fk_letter_templates_program` (`program_id`),
    CONSTRAINT `fk_letter_templates_program` FOREIGN KEY (`program_id`) REFERENCES `programs` (`id`),
    CONSTRAINT `letter_templates_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
  ) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
  /*!40101 SET character_set_client = @saved_cs_client */;

  --
  -- Dumping data for table `letter_templates`
  --

  LOCK TABLES `letter_templates` WRITE;
  /*!40000 ALTER TABLE `letter_templates` DISABLE KEYS */;
  /*!40000 ALTER TABLE `letter_templates` ENABLE KEYS */;
  UNLOCK TABLES;

  --
  -- Table structure for table `payment_transactions`
  --

  DROP TABLE IF EXISTS `payment_transactions`;
  /*!40101 SET @saved_cs_client     = @@character_set_client */;
  /*!50503 SET character_set_client = utf8mb4 */;
  CREATE TABLE `payment_transactions` (
    `id` int NOT NULL AUTO_INCREMENT,
    `applicant_id` int NOT NULL,
    `payment_type` enum('acceptance_fee','tuition') NOT NULL,
    `amount` decimal(10,2) DEFAULT NULL,
    `currency` varchar(3) DEFAULT 'USD',
    `status` enum('pending','completed','failed','cancelled') DEFAULT 'pending',
    `payment_method` varchar(50) DEFAULT NULL,
    `reference_id` varchar(255) DEFAULT NULL,
    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    `completed_at` timestamp NULL DEFAULT NULL,
    PRIMARY KEY (`id`),
    KEY `applicant_id` (`applicant_id`),
    CONSTRAINT `payment_transactions_ibfk_1` FOREIGN KEY (`applicant_id`) REFERENCES `applicants` (`id`) ON DELETE CASCADE
  ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
  /*!40101 SET character_set_client = @saved_cs_client */;

  --
  -- Dumping data for table `payment_transactions`
  --

  LOCK TABLES `payment_transactions` WRITE;
  /*!40000 ALTER TABLE `payment_transactions` DISABLE KEYS */;
  /*!40000 ALTER TABLE `payment_transactions` ENABLE KEYS */;
  UNLOCK TABLES;

  --
  -- Table structure for table `programs`
  --

  DROP TABLE IF EXISTS `programs`;
  /*!40101 SET @saved_cs_client     = @@character_set_client */;
  /*!50503 SET character_set_client = utf8mb4 */;
  CREATE TABLE `programs` (
    `id` int NOT NULL AUTO_INCREMENT,
    `name` varchar(100) NOT NULL,
    `description` text,
    `faculty` varchar(255) DEFAULT NULL,
    `department` varchar(255) DEFAULT NULL,
    `level` varchar(50) DEFAULT NULL,
    `mode` varchar(50) DEFAULT NULL,
    `session` varchar(20) DEFAULT NULL,
    `resumption_date` varchar(100) DEFAULT NULL,
    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (`id`),
    UNIQUE KEY `name` (`name`)
  ) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
  /*!40101 SET character_set_client = @saved_cs_client */;

  --
  -- Dumping data for table `programs`
  --

  LOCK TABLES `programs` WRITE;
  /*!40000 ALTER TABLE `programs` DISABLE KEYS */;
  INSERT INTO `programs` VALUES (1,'Undergraduate','Bachelor degree programs',NULL,NULL,NULL,NULL,NULL,NULL,'2026-02-08 06:46:16'),(2,'Postgraduate','Master and PhD programs',NULL,NULL,NULL,NULL,NULL,NULL,'2026-02-08 06:46:16'),(3,'HND','Higher National Diploma programs',NULL,NULL,NULL,NULL,NULL,NULL,'2026-02-08 06:46:16'),(4,'Part time','Part-time study options',NULL,NULL,NULL,NULL,NULL,NULL,'2026-02-08 06:46:16'),(5,'Jupeb','Judicial Postgraduate Education and Bar programs',NULL,NULL,NULL,NULL,NULL,NULL,'2026-02-08 06:46:16');
  /*!40000 ALTER TABLE `programs` ENABLE KEYS */;
  UNLOCK TABLES;

  --
  -- Table structure for table `users`
  --

  DROP TABLE IF EXISTS `users`;
  /*!40101 SET @saved_cs_client     = @@character_set_client */;
  /*!50503 SET character_set_client = utf8mb4 */;
  CREATE TABLE `users` (
    `id` int NOT NULL AUTO_INCREMENT,
    `name` varchar(255) NOT NULL,
    `email` varchar(255) NOT NULL,
    `password_hash` varchar(255) NOT NULL,
    `phone_number` varchar(20) DEFAULT NULL,
    `role` enum('applicant','admin') NOT NULL DEFAULT 'applicant',
    `status` enum('active','inactive','suspended') NOT NULL DEFAULT 'active',
    `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    PRIMARY KEY (`id`),
    UNIQUE KEY `email` (`email`),
    KEY `idx_users_email` (`email`)
  ) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
  /*!40101 SET character_set_client = @saved_cs_client */;

  --
  -- Dumping data for table `users`
  --

  LOCK TABLES `users` WRITE;
  /*!40000 ALTER TABLE `users` DISABLE KEYS */;
  /*!40000 ALTER TABLE `users` ENABLE KEYS */;
  UNLOCK TABLES;
  /*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

  /*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
  /*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
  /*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
  /*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
  /*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
  /*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
  /*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

  -- Dump completed on 2026-02-15 23:49:38
